<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>QuickRefFloatBehavior</key>
	<integer>3</integer>
	<key>RecentMoveTos</key>
	<array>
		<integer>25</integer>
	</array>
	<key>UnhoistedBinderState</key>
	<array>
		<integer>1</integer>
		<integer>4</integer>
		<integer>26</integer>
		<integer>6</integer>
		<integer>25</integer>
	</array>
	<key>binderSelection</key>
	<array>
		<integer>1</integer>
	</array>
	<key>binderSelectionMode</key>
	<integer>0</integer>
	<key>binderShowsLabelColorsAutosaveName</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {221, 1028}}</string>
		<string>{{222, 0}, {1690, 1028}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>68</integer>
		<integer>222</integer>
		<integer>223</integer>
		<integer>245</integer>
		<integer>247</integer>
		<integer>248</integer>
		<integer>277</integer>
		<integer>273</integer>
		<integer>1</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>86</integer>
		<integer>6</integer>
	</array>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>corkboardShowKeywordColors</key>
	<false/>
	<key>corkboardShowLabels</key>
	<true/>
	<key>corkboardShowStatusStamps</key>
	<false/>
	<key>corkboardsShowCardNumbers</key>
	<false/>
	<key>defaultCardSpacing</key>
	<real>300</real>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1045, 303}}</string>
		<string>{{0, 313}, {1045, 473}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>1</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<true/>
	<key>fullScreenNotesMode</key>
	<integer>1</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>iconsShowLabels</key>
	<false/>
	<key>indexCardHeightRatio</key>
	<real>3</real>
	<key>indexCardsAcross</key>
	<integer>3</integer>
	<key>indexCardsUseSmallFont</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorNotesMode</key>
	<integer>0</integer>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>131.796875</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>70.4423828125</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1045, 786}}</string>
		<string>{{1046, 0}, {227, 786}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>interCardSpacing</key>
	<real>30</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<integer>278</integer>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.multipleSectionsMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>54</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>12</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>13</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>12</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>13</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>12</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>19</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>20</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>65</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>143</integer>
					<integer>156</integer>
					<integer>162</integer>
					<integer>168</integer>
					<integer>174</integer>
					<integer>180</integer>
					<integer>186</integer>
					<integer>192</integer>
					<integer>198</integer>
					<integer>204</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>143</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>156</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>208</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>68</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>215</integer>
					<integer>216</integer>
					<integer>219</integer>
					<integer>220</integer>
					<integer>221</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>215</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>216</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>217</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>216</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>217</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>145</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>146</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>147</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>144</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>217</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>218</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>219</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>220</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>221</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>222</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>245</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>223</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>245</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>223</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>247</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>252</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>64</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>253</integer>
					<integer>255</integer>
					<integer>258</integer>
					<integer>261</integer>
					<integer>265</integer>
					<integer>267</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>272</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>34</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>272</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>223</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>245</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>247</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>248</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>277</integer>
					<integer>273</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>248</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>273</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>252</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>272</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>272</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>64</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>68</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>64</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>198</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>204</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>205</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>206</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>207</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>64</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>278</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>143</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>143</integer>
					<integer>208</integer>
					<integer>156</integer>
					<integer>162</integer>
					<integer>168</integer>
					<integer>174</integer>
					<integer>180</integer>
					<integer>186</integer>
					<integer>192</integer>
					<integer>198</integer>
					<integer>204</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>278</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>56</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>49</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>252</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.rulerIsVisible</key>
	<false/>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {1045, 417}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{303, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>0 44 1440 834 0 0 1440 878 </string>
	<key>pageSizeOption</key>
	<integer>0</integer>
	<key>previousDocumentTargetType</key>
	<integer>0</integer>
	<key>projectNotesSplitState</key>
	<array>
		<string>{{0, 0}, {147, 520}}</string>
		<string>{{148, 0}, {614, 520}}</string>
	</array>
	<key>referencesNotesMode</key>
	<integer>1</integer>
	<key>showEditScriveningsTitles</key>
	<true/>
	<key>sizeCardsToFit</key>
	<true/>
	<key>supportingDocumentEditor.affectsAltEditor</key>
	<true/>
	<key>supportingDocumentEditor.affectsOtherEditor</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<integer>68</integer>
	</array>
	<key>supportingDocumentEditor.corkboardVisible</key>
	<false/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>3</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>3</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.multipleSectionsMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>76</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>13</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>12</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>13</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>19</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>19</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>2</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>19</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>20</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>59</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>68</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>75</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>68</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>35</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>75</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>75</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>78</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>75</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>78</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>78</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>78</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>79</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>80</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>80</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>81</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>82</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>79</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>79</integer>
					<integer>80</integer>
					<integer>81</integer>
					<integer>82</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>75</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>78</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>79</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>86</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>77</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>6</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>64</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>76</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>68</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>144</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>143</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>215</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>217</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>145</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>217</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>68</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
		</array>
		<key>widths</key>
		<dict>
			<key>label</key>
			<real>91.83984375</real>
			<key>status</key>
			<real>57.30859375</real>
			<key>title</key>
			<real>844</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerSelection</key>
	<data>
	YnBsaXN0MDDUAQIDBAUIFhdUJHRvcFgkb2JqZWN0c1gkdmVyc2lvblkkYXJjaGl2ZXLR
	BgdUcm9vdIABowkKD1UkbnVsbNILDA0OXE5TUmFuZ2VDb3VudFYkY2xhc3MQAIAC0hAR
	EhVYJGNsYXNzZXNaJGNsYXNzbmFtZaITFFpOU0luZGV4U2V0WE5TT2JqZWN0Wk5TSW5k
	ZXhTZXQSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcggRFh8oMjU6PEBGS1hfYWNocXx/ipOe
	owAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>supportingDocumentEditor.outlinerShowsTitlesOnly</key>
	<false/>
	<key>supportingDocumentEditor.outlinerState</key>
	<array>
		<integer>216</integer>
	</array>
	<key>supportingDocumentEditor.outlinerVisible</key>
	<true/>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {1045, 267}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array>
		<integer>221</integer>
	</array>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
	<key>tintIndexCardsWithLabelColor</key>
	<false/>
	<key>tintOutlinerRowsWithLabelColor</key>
	<false/>
</dict>
</plist>
